<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- parameter name="admin" value="admin"  -->
<!--parameter name="admin123" value="admin123"  --> 
  <test thread-count="5" name="Test">
    <classes>
      <class name="srvanthi_testng.WebDriverCommands"/>
     <class name="srvanthi_testng.Locators"/> 
      <class name="srvanthi_testng.Testarray"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
